<md-dialog aria-label="Mango (Fruit)">
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Group Name</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="answer('not applicable')" aria-label="answer">
        <!-- <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon> -->
      </md-button>
      Del
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div>
    Edit group name, description, unit
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="Cancel('not useful')">
     Not Useful
    </md-button>
    <md-button ng-click="Save('useful')" style="margin-right:20px;">
      Useful
    </md-button>
  </div>
  </form>
</md-dialog>
