<md-dialog aria-label="Create Note" flex="66">
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Create Note</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()" aria-label="answer">
        <ng-md-icon icon="close" style="fill:white" size="45"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-content layout-padding>
      <div layout="column">
        <md-input-container>
          <label>GroupName</label>
          <input ng-model="name">
        </md-input-container>
        <md-input-container>
          <label>Description</label>
          <input ng-model="description">
        </md-input-container>
        <md-input-container>
          <label>unit</label>
          <input ng-model="unit">
        </md-input-container>

      </div>
    </md-content>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="cancel('not useful')">
     Cancel
    </md-button>
    <md-button class="md-raised md-primary" aria-label="create group" ng-click="CreateGroup(name, description, unit)">Create</md-button>
  </div>
  </form>
</md-dialog>
