<md-dialog aria-label="Create Note" flex="66">
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Create Note</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="answer('not applicable')" aria-label="answer">
        <!-- <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon> -->
      </md-button>
      Del
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-content layout-padding>
      <div layout="column">
        <md-input-container>
          <label>GroupName</label>
          <input ng-model="groupName" placeholder="groupName">
        </md-input-container>
        <md-input-container>
          <label>Description</label>
          <input ng-model="groupDescription" placeholder="groupDescription">
        </md-input-container>
        <md-input-container>
          <label>unit</label>
          <input ng-model="groupUnit" placeholder="groupUnit">
        </md-input-container>

      </div>
    </md-content>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="Cancel('not useful')">
     Cancel
    </md-button>
    <md-button class="md-raised md-primary" aria-label="create group" ng-click="CreateGroup()">Create</md-button>
  </div>
  </form>
</md-dialog>
