
<md-content layout-padding>

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2><span>
          dashKo -- Track your KPI!
        </span></h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Add" ng-click="showNoteCreate($event)">
        <ng-md-icon icon="add" style="fill:white" size="45"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-content>
    <div layout="column" layout-margin>
      <div flex="30" flex-md="50" flex-sm="100" ng-repeat="group in groups" class="group" style="border: solid 1px black;">

        <md-toolbar>
          <div class="md-toolbar-tools">
            <h3 ng-click="showGraph($event, group.id)">[{{group.name}}] - {{group.description}}</h3>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="More" ng-click="showNoteEdit($event, group)">
              <ng-md-icon icon="settings" style="fill:white" size="45"></ng-md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-content layout-margin>
            <md-input-container>
              <label>Comment</label>
              <input ng-model="group.comment">
            </md-input-container>

            <div layout>
              <md-input-container flex>
                <label>{{group.unit}}s</label>
                <input ng-model="group.value">
              </md-input-container>
              <md-button class="md-raised md-primary" aria-label="create log" ng-click="createLog(group.id, group.value, group.comment)">Log</md-button>
          </div>

        </md-content>
      </div>
    </div>
  </md-content>

  <!-- datepicker:
  <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker> -->
</md-content>
