<!--</div>-->
<md-content layout-padding>

  <!--<ui-view></ui-view>-->

  <!-- <form> -->
  <md-toolbar>
    <div class="md-toolbar-tools">
      <!-- <md-button class="md-icon-button" >
        <ng-md-icon icon="reorder" style="fill:white" size="45" ></ng-md-icon>
      </md-button> -->
      <h2><span>
          dashKo -- Track your KPI!
        </span></h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Add" ng-click="showNoteCreate($event)">
        <ng-md-icon icon="add" style="fill:white" size="45"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <!-- <md-fab-speed-dial md-open="isOpen" md-direction="down"
                     ng-class="selectedMode">
    <md-fab-trigger>
      <md-button class="md-icon-button" class="md-fab md-warn">
        <ng-md-icon icon="menu" style="fill:blue" size="45"></ng-md-icon>
      </md-button>
    </md-fab-trigger>
    <md-fab-actions>
      <md-button class="md-icon-button">
        <ng-md-icon icon="twitter" style="fill:blue" size="45"></ng-md-icon>
      </md-button>
      <md-button class="md-icon-button">
        <ng-md-icon icon="facebook" style="fill:blue" size="45" class="md-fab md-raised md-mini"></ng-md-icon>
      </md-button>
      <md-button class="md-icon-button">
        <ng-md-icon icon="hangout" style="fill:blue" size="45" class="md-fab md-raised md-mini"></ng-md-icon>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial> -->

  <!-- <md-content layout-padding>
    <div layout="column">
      <md-input-container>
        <label>GroupName</label>
        <input ng-model="groupName" placeholder="groupName">
      </md-input-container>
      <md-input-container>
        <label>Description</label>
        <input ng-model="groupDescription" placeholder="groupDescription">
      </md-input-container>
      <md-input-container>
        <label>unit</label>
        <input ng-model="groupUnit" placeholder="groupUnit">
      </md-input-container>
      <md-button class="md-raised md-primary" aria-label="create group" ng-click="CreateGroup()">Create</md-button>
    </div>
  </md-content> -->
  <!-- </form> -->
  <!--
  <md-grid-list md-cols="5" md-gutter="1em" md-row-height="4:3">
    <md-grid-tile>
      <md-grid-tile-header>
        <h3>Header</h3>
      </md-grid-tile-header>
      no header content
      <br>
      asdfasdf sad sdfasdf sdfsdfsdassadf sdf asd fas df sd ds
      <md-grid-tile-footer>
        <h4>Footer</h4>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile>
      <md-grid-tile-header>
        <h3>Header</h3>
      </md-grid-tile-header>
    </md-grid-tile>
    <md-grid-tile>
      <md-grid-tile-header>
        <h3>Header</h3>
      </md-grid-tile-header>
    </md-grid-tile>
    <md-grid-tile>
      <md-grid-tile-header>
        <h3>Header</h3>
      </md-grid-tile-header>
    </md-grid-tile>
  </md-grid-list> -->

  <md-content>
    <div layout="column" layout-margin>
      <div flex="30" flex-md="50" flex-sm="100" ng-repeat="group in groups" class="group" style="border: solid 1px black;">

        <md-toolbar>
          <div class="md-toolbar-tools">
            <h3 ng-click="showGraph($event, group.id)">{{group.name}}</h3>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="More" ng-click="showNoteEdit($event, group)">
              <ng-md-icon icon="settings" style="fill:white" size="45"></ng-md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-content layout-margin>
          <br> {{group.description}}
          <!-- <button ng-click="editGroup(group.id, group.name, group.description, group.unit)">Update</button>
<button ng-click="deleteGroup(group.id)">Delete</button> -->

            <md-input-container>
              <label>{{group.unit}}s</label>
              <input ng-model="group.value">
            </md-input-container>
            <md-button class="md-raised md-primary" aria-label="create log" ng-click="createLog(group.id, group.value)">Log</md-button>
        </md-content>
      </div>
    </div>
  </md-content>



  <!--
  <div style="border: solid 1px black">
    <div ng-repeat="group in groups" class="group" style="border: dashed 1px black; padding: 5px;">
      <strong><a ng-click="getGroupLogs(group.id)"><input ng-model="group.name"></a></strong>
      <input ng-model="group.description">
      <button ng-click="editGroup(group.id, group.name, group.description, group.unit)">Update</button>
      <button ng-click="deleteGroup(group.id)">Delete</button>

      <br>
      <form ng-submit="createGroupLog(group, value)">
        <input type="text" name="value" ng-model="value"> {{group.unit}}s
        <br>
        <button>Log it!</button>
      </form>
    </div>
  </div>


  <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div> -->

  <!-- Your Page Content Here -->
  datepicker:
  <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
</md-content>
